<div class="app">
  <h1>
    Quedan
    {{ weeks === 1 ? '1 semana' : '' }}
    {{ weeks > 1 ? weeks + ' semanas' : '' }}
    {{ days === 1 ? '1 día' : '' }}
    {{ days > 1 ? days + ' días' : '' }}
    {{ hours === 1 ? '1 hora' : ''}}
    {{ hours > 1 ? hours + ' horas' : ''}}
    {{ minutes === 1 ? '1 minuto' : '' }}
    {{ minutes > 1 ? minutes + ' minutos' : '' }}
    {{ seconds === 1 ? '1 segundo' : '' }}
    {{ seconds > 1 ? seconds + ' segundos' : '' }}
    para el fin de todo esto
  </h1>

  <iframe *ngIf="weeks < 1" style="visibility: hidden; height: 0" width="0" height="0" src="https://www.youtube.com/embed/attUrDwfdr8?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
  </iframe>
  <img class="app__image" alt="amsiedad" src="assets/sheems_thomas.png">
</div>
