<div class="app">
  <h1>
    Quedan
    {{ weeks === 1 ? 'una semana' : '' }}
    {{ weeks !== 0 ? weeks + ' semanas' : '' }}
    {{ days === 1 ? 'un día' : '' }}
    {{ days !== 0 ? days + ' días' : '' }}
    {{ hours === 1 ? 'una horas' : ''}}
    {{ hours !== 0 ? hours + ' horas' : ''}}
    {{ minutes === 1 ? 'un minuto' : '' }}
    {{ minutes !== 0 ? minutes + ' minutos' : '' }}
    {{ seconds === 1 ? 'un segundo' : '' }}
    {{ seconds !== 0 ? seconds + ' segundos' : '' }}
    para el fin de todo esto
  </h1>
</div>
